
.container {
  max-width: 1320px;
  margin: 0 auto;
  overflow-x: auto;
  
  .titel {
    padding-top: 40px;
    margin-bottom: 10px;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;

    .search {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 2px solid #dad5d5;

      input {
        border: none;
        height: 30px;
        width: 300px;
        border-radius: 5px;
        font-size: 14px;

        &:focus {
          outline:none;
        }
      }

      i {
        color: #dad5d5;
      }

      span {
        margin: 0 5px;
      }

    }
    .btnContainer {
      display: flex;
      button {
        border-radius: 5px;
        border: none;
        color: #fff;
        width: 180px;
        height: 30px;
        font-size: 16px;
        
        &.add {
          background: #24e307;
          cursor: pointer;
        }

        &.rmvActive {
          background: #e41313;
          cursor: pointer;
        }
  
        &.rmvDisabled {
          color: #8a8a8a;
          background: #804e4e;
        }
  
        &:focus {
          outline:none;
        }

        &:first-child {
          margin-right: 10px;
        }
        
      }
      a {
        border-radius: 5px;
        border: none;
        color: #fff;
        width: 180px;
        height: 30px;
        font-size: 16px;
        display: inline-block;
        text-decoration: none;
        line-height: 31px;
        text-align: center;
        &.add {
          background: #24e307;
          cursor: pointer;
        }
      }
    }
  }
}