.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
    
  .window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;
    width: 600px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .header {
      min-height: 60px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      padding: 10px 20px;
        
      .title {
        font-weight: bold;
      }
  
      i {
        color: rgb(0, 0, 0);

        &:hover {
         color: rgb(136, 6, 6);
       }
     }
    }
  }
}