.navbar {
  padding: 0 20px;
  background: #fff;
  height: 40px;

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    

    a {
      text-decoration: none;
      outline: none;
      display: inline-block;
      width: 140px;
      border-radius: 5px;
      font-size: 11px;
      height: 25px;
      background-color: #efefef;
      line-height: 25px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      font-weight: 600;
      cursor: pointer;
      color: black;

      &:hover {
        background: #2ee537;
        color: white;
      }
      
    }

    .login {
      margin-right: 10px;
    }

    .logout {
      width: 140px;
      border-radius: 5px;
      border: none;
      font-size: 11px;
      height: 25px;
      margin: 10px 20px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      font-weight: 600;
      cursor: pointer;
      
      &:hover {
        background: #e52e2e;
        color: white;
      }
    }
  }

}