
.table-section {
  margin-top: 10px;
  background: #fff;

  .products {
    width: 100%; 
    border: 0px; 
    border-collapse: collapse;
    text-align: left;

    thead {
      background-color: #f0f0f0;
      
      th {
        padding: 5px 10px;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #e5ecf0;
        }
      }

      td {
        padding: 15px 10px; 
        border-bottom: 1px solid #e8e9eb;
      }
    }
    
    .rm-product {
      cursor: pointer;
    }
    
    .rm-product:hover {
      color: rgb(153, 18, 18);
    }

  }
}